{% extends "base.html" %}

{% block page_title %}
    : About This Site
{% endblock %}

{% block content_bigcol %}
    {% if user.id %}

    <div class="page">
    <div class="page_title">about this site</div>
    <div class="page_content">
        <p>If you're reading this, it's because I know you, or you've been recommended by someone I know.</p>

        <p>For a few years now, I've been posting daily playlists privately to my LiveJournal account, and more recently to Facebook.  Originally, they started as links to five songs, then I transitioned to a Flex player that could play the songs in your browser but still allow you to download the files.</p>

        <p>But posting the links in different formats got a little tedious.  So I've decided to move the whole operation to this site.</p>

        <p>Make no mistake, this is a private network.  I've always tried to be conscious of making the downloads public - I know that there are a lot of music blogs out there that post music freely, but I don't particularly feel like wrangling with the RIAA - or anyone else who takes a dim view of file sharing, for that matter.</p>

        <p>So access to this site is always going to be limited to a small group of users.  There won't be any open registration - I'll be setting up all the user accounts myself.</p>

        <p>Five new songs will be posted daily, but once that day is over, access to the mp3s goes away - you'll still be able to see the list of songs posted on previous days, but the download links will be gone.  That may change in the future, but for now I'm imposing that limit so that I don't have to worry about storing a lot of media.</p>

        <p>
	And for now, you'll have to log in to get each day's playlist.  You can subscribe to the Twitter or rss feeds to get the latest updates.  
	Some time in the coming weeks, I'll be adding an optional mailing list to notify you when each day's playlist becomes available (you can join the mailing list by going to your profile and selecting "Email notify")<br />
	</p>

        <p>Also coming soon - a little farther in the future - you'll be able to suggest playlists of your own and upload the files to go with them.</p>

        <p>For now, just enjoy the music.</p>

    </div>

    {% endif %}
{% endblock %}

