{% extends "base.html" %}

{% block page_title %}
    : Contact
{% endblock %}

{% block content_bigcol %}

    {% if message %}

    <div class="page">
    <div class="page_title">contact</div>
    <div class="page_content">
        <h2>Your message has been sent:</h2>
        {{ message|linebreaks }}
	<br /><br />
        <p><a style="font-weight: bold; text-decoration: none;" href="/">home &rsaquo</a></p>
    </div>

    {% else %}

    <div class="page">
    <div class="page_title">contact</div>
    <div class="page_content">

    <div class="form_box">
        <form action="" method="POST">
        <div class="fieldwrapper">
            {{ form.topic.as_widget }}<br />
        </div>
        <div class="fieldwrapper">
            {{ form.message.as_widget }}<br />
        </div>
        <div class="left"><input type="submit" value="Send" /></div>
        <div class="right">
	    {{ form.message.errors }}<br />
	</div>
        <div style="clear: both;"></div>
        </form>
    </div>

    </div>

    {% endif %}

{% endblock %}
