CLAUDE.md
.DS_Store
instance/fivesongs.sqlite3
instance
uberspace_notes.txt
mastodon_notes.txt
generate_secret_key.py
NOTES.txt
rss.xml
uv.lock

*.bak
venv
*.swp

# Environment variables
.env
.env.local

**/__pycache__/
