{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content_bigcol %}

    <h1>Password reset</h1>

    <p>
	Forgotten your password? Enter your e-mail address below, 
	and we'll e-mail instructions for setting a new one.
    </p>

    <form action="" method="post">
    {{ form.email.errors }}
    <p>
    <label for="id_email">E-mail address:</label> {{ form.email }} <br />
    <div align="center">
    <input type="submit" value="Reset my password" />
    </div>
    </p>
    </form>

{% endblock %}
