{% extends "base.html" %}

{% block page_title %}
    : Log In
{% endblock %}

{% block content_bigcol %}

    <div class="loginbox">
        <form method='post' action='./'>
	    <p><span class="loginlabel">{{ form.username.label }}</span>{{ form.username }}<br /></p>
	    <p><span class="loginlabel">{{ form.password.label }}</span>{{ form.password }}<br /></p>
	    <p align="center"><input type='submit' value='Log In' /></p>
	    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
	</form>
    </div>
    {% if form.errors %}<p class="required">Your username and password didn't match. Please try again.</p>{% endif %}

{% endblock %}

