{% extends "base.html" %}

{% block page_title %}
    User Search
{% endblock %}

{% block title %}
    User Search
{% endblock %}

{% block content %}

    <div style="padding: 5px; margin: 5px;">
    <form action="" method="post">
    {{ form.first_name.label_tag }} {{ form.first_name.as_widget }}<br />
    {{ form.last_name.label_tag }} {{ form.last_name.as_widget }}<br />
    <input type="hidden" value="" name="email">
    <input type="hidden" value="" name="company_name">
    <input type="submit" value="Search by Full Name" />
    </form>
    </div>

    <div style="padding: 5px; margin: 5px;">
    <form action="" method="post">
    {{ form.email.label_tag }} {{ form.email.as_widget }}<br />
    <input type="hidden" value="" name="first_name">
    <input type="hidden" value="" name="last_name">
    <input type="hidden" value="" name="company_name">
    <input type="submit" value="Search by Email" />
    </form>
    </div>

    <div style="padding: 5px; margin: 5px;">
    <form action="" method="post">
    {{ form.company_name.label_tag }} {{ form.company_name.as_widget }}<br />
    <input type="hidden" value="" name="first_name">
    <input type="hidden" value="" name="last_name">
    <input type="hidden" value="" name="email">
    <input type="submit" value="Search by Company Name" />
    </form>
    </div>

    <div style="padding: 10px; margin: 10px;">

{% if search_results %}

    <h3>Your search results:</h3>
    <ul>
    {% for user in search_results %}
        <a href="/users/{{ user.username }}/">{{ user.username }}</a><br />
    {% endfor %}
    </ul>

{% else %}

    <h3>No results</h3>

{% endif %}

    </div>

{% endblock %}
