{% extends "base.html" %}

{% block page_title %}
    : All Entries
{% endblock %}

{% block page_js %}
    <script language="javascript" src="/site_media/js/jquery-1.3.2.js"></script>
    <script language="javascript" src="/site_media/js/postComment.js"></script>
{% endblock %}

{% block content_bigcol %}
    {% include "main_player.html" %}
{% endblock %}

{% block content_smallcol %}
    {% include "archive_list.html" %}
    <div class="more"><a href="/playlist/all/">all the rest &rsaquo</a></div>
{% endblock %}

