    {% if playlist %}
   
	<div align="center"> 
	<div style="margin-bottom: 20px; width: 450px;">

        <p><b>Today's Playlist ({{ playlist.play_date|date:"M d Y" }}) : </b></p>

	<div style="float: left">
	<object type="application/x-shockwave-flash" data="/site_media/flash/player_mp3_multi.swf" width="400" height="100" align="center">
	    <param name="movie" value="/site_media/flash/player_mp3_multi.swf" />
	    <param name="FlashVars" value="mp3=/site_media/{{ playlist.song1.filepath }}|/site_media/{{ playlist.song2.filepath }}|/site_media/{{ playlist.song3.filepath }}|/site_media/{{ playlist.song4.filepath }}|/site_media/{{ playlist.song5.filepath }}&amp;title={{ playlist.song1 }}|{{ playlist.song2 }}|{{ playlist.song3 }}|{{ playlist.song4 }}|{{ playlist.song5 }}&amp;width=400&amp;height=100" />
	</object>
	</div>

	<div style="float: left; width: 50px;">
	    <a href="/site_media/{{ playlist.song1.filepath }}" title="right click to download">mp3</a><br />
	    <a href="/site_media/{{ playlist.song2.filepath }}" title="right click to download">mp3</a><br />
	    <a href="/site_media/{{ playlist.song3.filepath }}" title="right click to download">mp3</a><br />
	    <a href="/site_media/{{ playlist.song4.filepath }}" title="right click to download">mp3</a><br />
	    <a href="/site_media/{{ playlist.song5.filepath }}" title="right click to download">mp3</a><br />
	</div>
	<div class="clear"></div>

	<p>Posted by: <a href="/profile/{{ playlist.user }}/">{{ playlist.user }}</a></p>

	</div></div>

        {% include "playlist_comments.html" %}

    {% else %}
        No playlist today.<br />
    {% endif %}

