{% extends "base.html" %}

{% block page_title %}
    : Single Entry
{% endblock %}

{% block page_js %}
    <script language="javascript" src="/site_media/js/jquery-1.3.2.js"></script>
{% endblock %}

{% block content_bigcol %}

    {% if playlist %}

	<div align="center"><div style="text-align: left; margin-bottom: 20px; width: 450px;">

	<p><b>Playlist for {{ playlist.play_date|date:"M d, Y" }}:</b></p>

        <div style="float: left">
        {{ playlist.song1 }}<br />
        {{ playlist.song2 }}<br />
        {{ playlist.song3 }}<br />
        {{ playlist.song4 }}<br />
        {{ playlist.song5 }}<br />
	</div>

	{% if playlist.song1.filepath %}
        <div style="float: left; margin-left: 50px; width: 50px;">
            <a href="/site_media/{{ playlist.song1.filepath }}" title="right click to download">mp3</a><br />
            <a href="/site_media/{{ playlist.song2.filepath }}" title="right click to download">mp3</a><br />
            <a href="/site_media/{{ playlist.song3.filepath }}" title="right click to download">mp3</a><br />
            <a href="/site_media/{{ playlist.song4.filepath }}" title="right click to download">mp3</a><br />
            <a href="/site_media/{{ playlist.song5.filepath }}" title="right click to download">mp3</a><br />
        </div>
	{% endif %}

        <div class="clear"></div>

	</div></div>

	{% include "playlist_comments.html" %}

    {% else %}
        <div>No entries available.</div>
    {% endif %}

{% endblock %}

{% block content_smallcol %}
    {% include "archive_list.html" %}
{% endblock %}

