{% block page_title %}
    : Add A Song
{% endblock %}

{% block content_bigcol %}

    <table>
    <tr valign="top">
	<form enctype="multipart/form-data" action="/playlist/song/add/" method="post">
        <td>{{ form.artist.label }} {{ form.artist }}</td>
        <td>{{ form.title.label }} {{ form.title }}</td>
        <td>{{ form.filepath.label }} {{ form.filepath }}</td>
        <td valign="bottom">
	    <input type="hidden" name="song_number" id="id_song_number" value="">
	    <input type="submit" value="Add song" /><br />
	</td>
        </form>
    </tr>
    </table>

    <form name="user_playlist" action="." method="post">

    <p align="center"><input type="submit" value="Save Your Playlist" /><br /></p>
    </form>

{% endblock %}

