:root {
  --pinstripe-aqua-1: #61bdf7;
  --pinstripe-aqua-2: #5e8ff7;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0px;
  }
  100% {
    background-position: 0% -8px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

div#player {
  --white: #fff;
  --gray: #999;
  --aqua: #61BDF7;
  --black: #222;

  --ipod-border-color: #ccc;
  --box-shadow-color: rgba(0, 0, 0, 0.2);

   background: transparent;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   gap: 5vw;
   width: 70vw;
   max-width: min(800px, 100vw);
}

@media screen and (max-width: 800px) {
  div#player {
    flex-direction: column;
    align-items: center;
  }

  .Ipod {
    margin: 0 !important;
    flex: 1 0 auto !important;
  }

  .Playlist {
    width: 95vw !important;
  }
}

div#player * {
  box-sizing: border-box;
}

.Ipod {
  overflow: clip;
  aspect-ratio: 3 / 5.5;
  border-radius: 20px;
  background: var(--white);
  margin: 20px auto 20px 0;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  min-width: 300px;
  transform: rotate(1.5deg);
  transition-property: transform;
  transition-duration: 0.4s;
  border: 1px solid var(--gray);
  box-shadow: inset 0 0 10px 0.5px var(--box-shadow-color);
  flex: 1 1 0px;
}

.Ipod:hover {
  transform: rotate(0deg);
}

.Ipod__wheel {
  flex: 1 1 0px;
  max-height: min-content;
  flex-direction: column;
}

.Ipod__wheel-outer {
  border-radius: 9999px;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: inset 0 0 5px 1px var(--box-shadow-color);
}

.Ipod__wheel-inner {
  border-radius: 9999px;
  background-color: #f3f3f3;
  border: 1px solid var(--gray);
  box-shadow: 0 0 5px 1px var(--box-shadow-color);
  padding: 14%;
  aspect-ratio: 1;
}

.Screen {
  font-family: "Chicago";
  color: var(--black);
  display: flex;
  flex-direction: column;
  aspect-ratio: 4 / 3;
  margin: 15px;
  padding: 15px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  justify-content: space-between;
  flex: 0 1 0px;
  box-shadow: inset 0 0 1px 1px var(--box-shadow-color);
}

.Screen__title {
  line-height: 1em;
  text-align: center;
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 4px 0;
  border-bottom: 1px solid var(--gray);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 1px 1px var(--box-shadow-color);
}

.Screen__meta {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.Screen__album-art-container {
  display: block;
  flex: 1 1 0px;
  min-width: 0;
  overflow: clip;
}

.Screen__album-art {
  aspect-ratio: 1;
  max-width: 100%;
}

.Screen__info {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 2 2 0px;
  min-width: 0;
}

.Screen__row {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
}

.Screen__time {
}

.Screen__progress {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.Screen__progress > * {
  display: block;
  grid-column: 1;
  grid-row: 1;
}

.Screen__progress > progress {
  /* visibility: hidden; */
  background: transparent;
  display: none;
  appearance: none;
  border: 0;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 5px;
  height: 8px;
}

/* .Screen__progress > progress:: */

.Screen__progress-slider {
  appearance: none;
  margin-left: -2px;
  margin-right: -2px;
  border-radius: 5px;
  background: transparent;
  height: 8px;
}

.Screen__progress-slider::-webkit-slider-thumb {
  visibility: hidden;
}

.Screen__progress-slider::-moz-range-thumb {
  visibility: hidden;
}

.Screen__progress-slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.Screen__progress-slider::-moz-range-track {
  height: 8px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

progress.Screen__progress-element {
  margin-top: 2px;
  height: 7px !important;
  display: block;
}

progress.Screen__progress-element::-webkit-progress-bar {
  background: transparent;
}

progress.Screen__progress-element::-webkit-progress-value {
  height: 8px;
  border-radius: 5px;
  background: repeating-linear-gradient(
    -45deg,
    var(--pinstripe-aqua-2) 0px,
    var(--pinstripe-aqua-1) 3px,
    var(--pinstripe-aqua-2) 6px
  );
  background-size: 180% 100%;
  background-attachment: fixed;
}

/* Firefox doesn't need the `progress` element, so we can hide it. The track
  can show the same information _and_ can have its background animated. */
@supports selector(progress::-moz-progress-bar) {
  .Screen__progress-element {
    display: none !important;
  }
}

.Screen__progress-slider::-moz-range-progress {
  height: 8px;
  border-radius: 5px;
  background: repeating-linear-gradient(
    -45deg,
    var(--pinstripe-aqua-2) 0px,
    var(--pinstripe-aqua-1) 3px,
    var(--pinstripe-aqua-2) 6px
  );
  background-size: 180% 100%;
  background-attachment: fixed;
}

/* Only Firefox gets the privilege of an animated progress bar. */
.Screen--playing .Screen__progress-slider::-moz-range-progress {
  animation: gradient-animation 0.5s linear infinite;
}

.Screen__time-durations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Controls {
  display: flex;
  flex-direction: column;
  flex: 0 1 min-content;
}

.Controls__repeat-and-shuffle {
  display: none;
}

.Controls__main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 15px;
  gap: 15px;
}

.Controls__main > button {
  cursor: pointer;
  flex: 1 1 0px;
  aspect-ratio: 1;
  border-radius: 9999px;
  padding: 5%;
  border: 0;
  background: transparent;
  box-shadow: inset 0px 0px 4px 1px var(--box-shadow-color);
}

.Controls__main > button:hover {
  background-color: #f3f3f3;
}

.Controls__main > button:active > svg,
.Controls__main > button:active > img {
  translate: 1px 1px;
}

.Controls__main > button.amplitude-repeat-on {
  color: var(--aqua);
}

button.amplitude-playing {
  color: var(--aqua);
}

.Controls__volume {
  display: none; /* TEMP */
}


.Playlist {
  background: var(--white);
  flex: 1 0 300px;
  border: 1px solid var(--gray);
  padding: 0;
  /* padding: 1em 0; */
  /* max-width: 400px; */
  font-family: 'Open Sans', sans-serif;
  min-width: min-content;
  overflow-x: hidden;
}

.Song {
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0.5em 1em;
}

.Song:hover {
  background: #f9f9f9;
}

.Song__now-playing {
  flex: 0 0 20px;
}

.Song__now-playing-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.Song__meta {
  flex: 0 1 fit-content;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-width: min-content;
}

.Song__duration {
  flex: 0 0 min-content;
}

.Song__meta > span {
  display: block;
}

.Song.amplitude-playing {
  background: #eee;
}

.Song__artist {
  font-variant: small-caps;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
}
