body {
    background: #FEC601 url('/static/images/bg_main.jpg')  no-repeat scroll 50% 0px;
}

#ft {
    height:133px;
    background: url('/static/images/bg_footer.gif') repeat-x;
}

.player_background {
  background: url('/static/images/lgo_main.png') no-repeat scroll 50% 0px;
  font-size: 14px;
  margin: 5px 25px 25px 25px;
  padding: 5px;
  border: 0px solid green;
  width: 460px;
  height: 318px;
}
.dll { float: left; margin-right: 5px; width: 400px; text-align: right; }
.dlr { float: left; width: 50px; }

.playlist_date { text-decoration: none; font-weight: bold; }

.page { padding: 10px; }
.page_title { text-align: right; margin: 5px; padding: 5px; font-size: 18px; font-weight: bold; }
.page_content { text-align: left; }
.page_footer { float: right; }

#bottom{ width: 1000px; }
.footerlink, .footerlink a { float: left; margin: 5px; color: #999; text-decoration: none; }


@font-face {
  font-family: "Chicago";
  src: url("font/ChicagoFLF.woff2") format('woff2');
}


.pagination {
  border: 1px solid white;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
} 
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
