<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <script src="{{ url_for('static', filename='js/modernizr.custom.32229-2.8-respondjs-1-4-2.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Site Home</a>
  <a class="navbar-brand" href="/admin">Admin Home</a>
  <a class="navbar-brand" href="/admin/tracking">Tracking</a>
  <a class="navbar-brand" href="{{ url_for('auth.logout') }}">Log Out</a>

  {% if g.user %} 
    <div>You are logged in as {{ g.user['username'] }}</div>
  {% else %}
    <!-- TODO: this shouldn't be visible once the admin is behind a login -->
    <a href="{{ url_for('auth.register') }}">Register</a>
    <a href="{{ url_for('auth.login') }}">Log In</a>
  {% endif %}
</nav>

<div class="container">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}{% endblock %}

</div> <!-- end container -->

<!-- footer -->
<!-- end footer -->

</body>
</html>
