<div id="header">

    {% if user.id %}

    <div class="header_one">
	<div class="right" style="line-height: 50px;">
	    Welcome, {{ user }}
	    <a href="/profile/{{ user.username }}/">your profile</a>
	    <a href="/accounts/logout/">log out</a>
	</div>
	<div class="left">
	    <a href="http://twitter.com/fivesongsdaily" title="follow fivesongsdaily on twitter" target="new"><img src="/site_media/images/fivesongs_icon_twitter.jpg"></a>
	    <a href="/feeds/all/" title="subscribe to the rss feed"><img src="/site_media/images/fivesongs_icon_rss.jpg"></a>

	</div>
        <div class="clear"></div>
    </div>

    <div class="header_two">
	<div class="right">
	    <a href="/pages/about/">about</a>
	    <a href="/contact/">contact</a>	    
            {% if user.is_superuser and user.is_staff %}<a href="/admin/">ADMIN</a>{% endif %}
	</div>
	<div class="left">
	    <a href="/">home</a>
	    <a href="/playlist/all/">archive</a>
	</div>
        <div class="clear"></div>
    </div>

    {% endif %}

    <!-- <a href="/accounts/login/">Log In</a> -->

</div>

