{% extends 'base.html' %}

{% block content %}

  <!-- {{ js_songs | safe }} -->

  {% if songs %}

  <!-- Blue Playlist Container -->
  <div id="blue-playlist-container">

    <!-- Amplitude Player -->
    <div id="amplitude-player">

      <!-- Left Side Player -->
      <div id="amplitude-left">
        <img data-amplitude-song-info="cover_art_url" class="album-art"/>
        <div class="amplitude-visualization" id="large-visualization">

        </div>
        <div id="player-left-bottom">
          <div id="time-container">
            <span class="current-time">
              <span class="amplitude-current-minutes" ></span>:<span class="amplitude-current-seconds"></span>
            </span>
            <div id="progress-container">
              <div class="amplitude-wave-form">

              </div>
              <input type="range" class="amplitude-song-slider"/>
              <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
              <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
            </div><!-- end progress-container -->
            <span class="duration">
              <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
            </span>
          </div><!-- end time-container -->

          <div id="control-container">
            <div id="repeat-container">
              <div class="amplitude-repeat" id="repeat"></div>
              <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
            </div>

            <div id="central-control-container">
              <div id="central-controls">
                <div class="amplitude-prev" id="previous"></div>
                <div class="amplitude-play-pause" id="play-pause"></div>
                <div class="amplitude-next" id="next"></div>
              </div>
            </div>

            <div id="volume-container">
              <div class="volume-controls">
                <div class="amplitude-mute amplitude-not-muted"></div>
                <input type="range" class="amplitude-volume-slider"/>
                <div class="ms-range-fix"></div>
              </div>
              <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle-right"></div>
            </div>
          </div><!-- end control-container -->

          <div id="meta-container">
            <span data-amplitude-song-info="name" class="song-name"></span>

            <div class="song-artist-album">
              <span data-amplitude-song-info="artist"></span>
              <span data-amplitude-song-info="album"></span>
            </div>
          </div><!-- end meta-container -->

        </div><!-- player-left-bottom -->
 
      </div><!-- end amplitude-left -->
      <!-- End Left Side Player -->

      <!-- Right Side Player -->
      <div id="amplitude-right">

        {% for song in songs %}

          <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="{{ songs.index(song) }}">
            <div class="song-now-playing-icon-container">
              <div class="play-button-container">

              </div>
              <img class="now-playing" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/now-playing.svg"/>
            </div>
            <div class="song-meta-data">
              <span class="song-title">{{ song.title }}</span>
              <span class="song-artist">{{ song.artist }}</span>
            </div>
            <!-- replace with download links icon
            <a href="https://switchstancerecordings.bandcamp.com/track/risin-high-feat-raashan-ahmad" class="bandcamp-link" target="_blank">
              <img class="bandcamp-grey" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/bandcamp-grey.svg"/>
              <img class="bandcamp-white" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/bandcamp-white.svg"/>
            </a>
            -->
            <span class="song-duration">{{ song.duration }}</span>
          </div><!-- end data-amplitude-song-index -->

        {% endfor %}

      </div><!-- end amplitude-right -->
      <!-- End Right Side Player -->

    </div><!-- End Amplitude Player -->

  </div><!-- End Blue Playlist Container -->

  {% else %}
    No songs available for this date.<br />
  {% endif %}

<script>

/*
	When the bandcamp link is pressed, stop all propagation so AmplitudeJS doesn't
	play the song.
*/
let bandcampLinks = document.getElementsByClassName('bandcamp-link');

for( var i = 0; i < bandcampLinks.length; i++ ){
	bandcampLinks[i].addEventListener('click', function(e){
		e.stopPropagation();
	});
}


let songElements = document.getElementsByClassName('song');

for( var i = 0; i < songElements.length; i++ ){
	/*
		Ensure that on mouseover, CSS styles don't get messed up for active songs.
	*/
	songElements[i].addEventListener('mouseover', function(){
		this.style.backgroundColor = '#00A0FF';

		this.querySelectorAll('.song-meta-data .song-title')[0].style.color = '#FFFFFF';
		this.querySelectorAll('.song-meta-data .song-artist')[0].style.color = '#FFFFFF';

		if( !this.classList.contains('amplitude-active-song-container') ){
			this.querySelectorAll('.play-button-container')[0].style.display = 'block';
		}

		this.querySelectorAll('img.bandcamp-grey')[0].style.display = 'none';
		this.querySelectorAll('img.bandcamp-white')[0].style.display = 'block';
		this.querySelectorAll('.song-duration')[0].style.color = '#FFFFFF';
	});

	/*
		Ensure that on mouseout, CSS styles don't get messed up for active songs.
	*/
	songElements[i].addEventListener('mouseout', function(){
		this.style.backgroundColor = '#FFFFFF';
		this.querySelectorAll('.song-meta-data .song-title')[0].style.color = '#272726';
		this.querySelectorAll('.song-meta-data .song-artist')[0].style.color = '#607D8B';
		this.querySelectorAll('.play-button-container')[0].style.display = 'none';
		this.querySelectorAll('img.bandcamp-grey')[0].style.display = 'block';
		this.querySelectorAll('img.bandcamp-white')[0].style.display = 'none';
		this.querySelectorAll('.song-duration')[0].style.color = '#607D8B';
	});

	/*
		Show and hide the play button container on the song when the song is clicked.
	*/
	songElements[i].addEventListener('click', function(){
		this.querySelectorAll('.play-button-container')[0].style.display = 'none';
	});
}

/*
	Initializes AmplitudeJS
*/
Amplitude.init({
  "songs": {{ js_songs | safe }},
  "callbacks": {
    'play': function(){
      document.getElementById('album-art').style.visibility = 'hidden';
      document.getElementById('large-visualization').style.visibility = 'visible';
    },
    'pause': function(){
      document.getElementById('album-art').style.visibility = 'visible';
      document.getElementById('large-visualization').style.visibility = 'hidden';
    }
  },
  waveforms: {
    sample_rate: 50
  }
});
document.getElementById('large-visualization').style.height = document.getElementById('album-art').offsetWidth + 'px';
</script>

{% endblock %}
