{% extends 'base.html' %}

{% block content %}

  {% if songs %}

    <div id="container">

      <div id="player">

        <div class="Ipod">
          <div class="Screen">
            <div class="Screen__title">Now Playing</div>

            <div class="Screen__meta">

              <div class="Screen__album-art-container">
                <img data-amplitude-song-info="cover_art_url" class="Screen__album-art" id="album-art" />
              </div>

              <div class="Screen__info">
                <div data-amplitude-song-info="name" class="Screen__row Screen__info-song-name"></div>

                <div data-amplitude-song-info="artist" class="Screen__row Screen__info-artist"></div>
                <div data-amplitude-song-info="album" class="Screen__row Screen__info-album"></div>
              </div> <!-- .Screen__info -->

            </div> <!-- .Screen__meta -->

            <div class="Screen__time">
              <div class="Screen__progress">
                <progress class="Screen__progress-element amplitude-song-played-progress"></progress>
                <progress class="amplitude-buffered-progress" value="0"></progress>
                <input type="range" class="Screen__progress-slider amplitude-song-slider" />
              </div>

              <div class="Screen__time-durations">
                <span class="current-time">
                  <span class="amplitude-current-minutes" ></span>:<span class="amplitude-current-seconds"></span>
                </span>
                <span class="duration">
                  <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                </span>
              </div>

            </div> <!-- .Screen__time -->

          </div> <!-- .Screen -->

          <div class="Controls">
            <div class="Controls__inner">
              <div class="Controls__repeat-and-shuffle">
                <div class="amplitude-repeat" id="repeat"></div>
                <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
              </div>

              <div class="Controls__main">
                <button type="button" class="amplitude-prev" id="previous">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-128 -128 768 768">
                    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path fill="currentColor" d="M493.6 445c-11.2 5.3-24.5 3.6-34.1-4.4L288 297.7 288 416c0 12.4-7.2 23.7-18.4 29s-24.5 3.6-34.1-4.4L64 297.7 64 416c0 17.7-14.3 32-32 32s-32-14.3-32-32L0 96C0 78.3 14.3 64 32 64s32 14.3 32 32l0 118.3L235.5 71.4c9.5-7.9 22.8-9.7 34.1-4.4S288 83.6 288 96l0 118.3L459.5 71.4c9.5-7.9 22.8-9.7 34.1-4.4S512 83.6 512 96l0 320c0 12.4-7.2 23.7-18.4 29z"/>
                  </svg>
                </button>
                <button type="button" class="amplitude-repeat" id="repeat">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-128 -128 768 768">
                    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path fill="currentColor" d="M0 224c0 17.7 14.3 32 32 32s32-14.3 32-32c0-53 43-96 96-96l160 0 0 32c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l64-64c12.5-12.5 12.5-32.8 0-45.3l-64-64c-9.2-9.2-22.9-11.9-34.9-6.9S320 19.1 320 32l0 32L160 64C71.6 64 0 135.6 0 224zm512 64c0-17.7-14.3-32-32-32s-32 14.3-32 32c0 53-43 96-96 96l-160 0 0-32c0-12.9-7.8-24.6-19.8-29.6s-25.7-2.2-34.9 6.9l-64 64c-12.5 12.5-12.5 32.8 0 45.3l64 64c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6l0-32 160 0c88.4 0 160-71.6 160-160z"/>
                  </svg>
                </button>
                <button type="button" class="amplitude-play-pause" id="play-pause">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M15 6.75a.75.75 0 0 0-.75.75V18a.75.75 0 0 0 .75.75h.75a.75.75 0 0 0 .75-.75V7.5a.75.75 0 0 0-.75-.75H15ZM20.25 6.75a.75.75 0 0 0-.75.75V18c0 .414.336.75.75.75H21a.75.75 0 0 0 .75-.75V7.5a.75.75 0 0 0-.75-.75h-.75ZM5.055 7.06C3.805 6.347 2.25 7.25 2.25 8.69v8.122c0 1.44 1.555 2.343 2.805 1.628l7.108-4.061c1.26-.72 1.26-2.536 0-3.256L5.055 7.061Z" />
                  </svg>
                </button>
                <button type="button" class="amplitude-next" id="next">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="-128 -128 768 768">
                    <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                    <path fill="currentColor" d="M18.4 445c11.2 5.3 24.5 3.6 34.1-4.4L224 297.7 224 416c0 12.4 7.2 23.7 18.4 29s24.5 3.6 34.1-4.4L448 297.7 448 416c0 17.7 14.3 32 32 32s32-14.3 32-32l0-320c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 118.3L276.5 71.4c-9.5-7.9-22.8-9.7-34.1-4.4S224 83.6 224 96l0 118.3L52.5 71.4c-9.5-7.9-22.8-9.7-34.1-4.4S0 83.6 0 96L0 416c0 12.4 7.2 23.7 18.4 29z"/>
                  </svg>
                </button>
              </div>

              <div class="Controls__volume">
                <div class="Controls__volume-inner">
                  <div class="amplitude-mute amplitude-not-muted"></div>
                  <input type="range" class="amplitude-volume-slider" />
                  <div class="ms-range-fix"></div>
                </div>
              </div>
            </div>


          </div>

          <div class="Ipod__wheel">
            <div class="Ipod__wheel-outer">
              <div class="Ipod__wheel-inner"></div>
            </div>

          </div>

        </div> <!-- .Ipod -->


        <!-- RIGHT SIDE FOLLOWS -->
        <ul class="Playlist">
          {% for song in songs %}

            <li class="Song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="{{ songs.index(song) }}">
              <div class="Song__now-playing">
                <button type="button" class="Song__now-playing-button">
                  <img class="Song__now-playing-image" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/now-playing.svg" />
                </button>
              </div>
              <div class="Song__meta">
                <span class="Song__title" title="{{ song.title }}">{{ song.title }}</span>
                <span class="Song__artist" title="{{ song.artist }}">{{ song.artist }}</span>
              </div>

              <!-- replace with download links icon
              <a href="https://switchstancerecordings.bandcamp.com/track/risin-high-feat-raashan-ahmad" class="bandcamp-link" target="_blank">
              <img class="bandcamp-grey" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/bandcamp-grey.svg"/>
              <img class="bandcamp-white" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/bandcamp-white.svg"/>
              </a>
              -->
              <span class="Song__duration">{{ song.duration }}</span>
            </li> <!-- end data-amplitude-song-index -->

          {% endfor %}
        </ul>

      </div>

      <!-- <center><i>{{ play_date }}</i></center> -->

    </div>

  {% else %}
    No songs available for this date.<br />
  {% endif %}

<script>

{
  // The title, artist, and album on the iPod-esque screen have `text-overflow:
  // ellipsis` applied in CSS so that they don't wrap to a second row. For this
  // reason, it'd be useful to have the full text visible on hover as a
  // tooltip.
  //
  // So we spy on changes to the nodes’ contents and keep their `title`
  // attributes in sync.

  function callback(mutationList, observer) {
    for (let { target } of mutationList) {
      let { innerText } = target;
      let title = target.getAttribute('title');
      if (title === innerText) return;
      target.setAttribute('title', innerText);
    }
  }

  const titleFiller = new MutationObserver(callback);

  let rows = document.querySelectorAll('.Screen__row');
  for (let row of rows) {
    titleFiller.observe(row, { childList: true });
  }
}


Amplitude.init({
  songs: {{ js_songs | safe }},
  callbacks: {
    play() {
      document.querySelector('.Screen')?.classList.add('Screen--playing');
    },
    pause (){
      document.querySelector('.Screen')?.classList.remove('Screen--playing');
    }
  },
  waveforms: {
    sample_rate: 50
  }
});
</script>

{% endblock %}
