{% extends 'base.html' %}

<!-- come back to this later -->
{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
  {% if g.user %}
    <!-- <a class="action" href="{{ url_for('playlist.create') }}">New</a> -->
  {% endif %}
{% endblock %}

{% block content %}
  <div>

    {% if songs %}

          {% for song in songs %}
            <p>
              <div class="dll">{{ song.title }} - {{ song.artist }}</div>
              <div class="dlr">
                <audio controls>
                  <source src="/static/musicfiles/{{ song.filepath }}" type="audio/mp3">
                </audio>
              </div>
              <div style="clear: both;"></div>
            </p>
          {% endfor %}

          <div class="playlist_date">{{ play_date.play_date }}</div>

    {% else %}
      No songs available.<br />
    {% endif %}

  </div>

{% endblock %}
