{% extends 'adminbase.html' %}

{% block content %}

  <p><a href="/admin/playlist/create">Add a new playlist</a></p>
  <br />

  {% if playlists %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Playlist Date</th>
          <th scope="col">Theme</th>
          <th scope="col">Songs</th>
          <th scope="col">Created</th>
          <th scope="col">Complete</th>
        </tr>
      </thead>
      <tbody>
        {% for playlist in playlists %}
        <tr>
          <th scope="row"><a href="/admin/playlist/{{ playlist.id }}">{{ playlist.id }}</a></th>
          <td>{{ playlist.play_date }}</td>
          <td>{{ playlist.theme }}</td>
          <td>{{ playlist.song_list|safe }}</td>
          <td>{{ playlist.created_at }}</td>
          <td>
            {% if playlist.alert %}
              <span style="color: red;">&cross;</span>
            {% else %}
              <span style="color: green;">&#x2714;</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No playlists available.<br />
  {% endif %}

{% endblock %}
