{% extends 'adminbase.html' %}

{% block content %}

  {% if playlist %}

    <a href="/admin/playlist/create">Create a new playlist</a> | <a href="/admin/playlist/edit/{{ playlist.id }}">Edit this playlist</a><br />
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Playlist Date</th>
          <td>{{ playlist.play_date }}</td>
        </tr>
        <tr>
          <th scope="row">Theme</th>
          <td>{{ playlist.theme }}</td>
        </tr>
        <tr>
          <th scope="row">Songs</th>
          <td>
            <table class="table">
              <tbody>
                {% if songs %}
                  {% for song in songs %}
                    <tr>
                      <td>
                        {{ song.title }} - {{ song.artist }}<br />
                        <audio controls>
                          <source src="/static/musicfiles/{{ song.filepath }}" type="audio/mp3">
                        </audio><br />
                        /static/musicfiles/{{ song.filepath }}<br />
                      </td>
                      <td>                      
                        <img src="/static/albumart/{{ song.album_art }}" height=100 width=100><br />
                        /static/albumart/{{ song.album_art }}<br />
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th scope="row">Archive Song List</th>
          <td>{{ playlist.song_list|safe }}</td>
        </tr>
        <tr>
          <th scope="row">Created</th>
          <td>{{ playlist.created_at }}</td>
        </tr>
      </tbody>
    </table>

    <br />

    <form action="/admin/playlist/delete/{{ playlist.id }}" method="post" enctype="multipart/form-data">
      <button type="submit" class="btn btn-primary">Delete Playlist</button>
    </form>

    <br />

  {% endif %}

  <p><a href="/admin/playlists">Back to all playlists</a></p>  

{% endblock %}
