{% extends 'adminbase.html' %}

{% block content %}

  <p><a href="/admin/song/create">Add a new song</a></p>
  <br />

  {% if songs %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Playlist</th>
          <th scope="col">Created</th>
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <th scope="row"><a href="/admin/song/{{ song.id }}">{{ song.id }}</a></th>
          <td>{{ song.title }}</td>
          <td>{{ song.artist }}</td>
          <td><a href="/admin/playlist/{{ song.playlist_id }}">{{ song.playlist_id }}</a></td>
          <td>{{ song.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No songs available.<br />
  {% endif %}

{% endblock %}
