{% extends 'adminbase.html' %}

{% block content %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <canvas id="myVisualization"></canvas>
  <script>
      var ctx = document.getElementById('myVisualization').getContext('2d');
      new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{%for x in trends%}"{{x.date_request}}",{%endfor%}],
              datasets: [{
                  label: "Daily Visitor Count",
                  data: [{%for x in trends%}{{x.date_count}},{%endfor%}],
                  borderwidth: 1
              }]
          },
          options: {
            scales: {
              y:{beginAtZero: true}
            },
            barThickness: 20
          }
      });
  </script>

  <a class="navbar-brand" href="/admin/tracking/blocklist">Blocklist</a>
  <br clear="all">

  {% if tracking %}
    <table>
      <tr style="font-weight: bold; font-size: 12px; padding: 5px;">
        <td style="padding: 5px;">Date</td>
        <td style="padding: 5px;">Referer & Request</td>
        <td style="padding: 5px;">IP</td>
        <td style="padding: 5px;">UA</td>
        <td style="padding: 5px;">Browser/Agent</td>
        <td style="padding: 5px;">Blocked</td>
      </tr>
      {% for t in tracking %}
      <tr style="font-size: 12px;">
        <td style="padding: 5px;" nowrap>{{ t.request_date }}</td>
        <td style="padding: 5px;">
          Referer: {{ t.referer }}<br>
          Request: {{ t.url }}
        </td>
        <td style="padding: 5px;">{{ t.remote_addr }}</td>
        <td style="padding: 5px; width: 35%">{{ t.ua }}</td>
        <td style="padding: 5px;">{{ t.browser.family }}</td>
        <td style="padding: 5px;">{% if t.blocked=='0' %}&nbsp;{% else %}&#10060{% endif %}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    No tracking records available.<br />
  {% endif %}

{% endblock %}
