{% extends 'adminbase.html' %}

{% block content %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <canvas id="myVisualization"></canvas>
  <script>
      var ctx = document.getElementById('myVisualization').getContext('2d');
      new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{%for x in trends%}"{{x.date_request}}",{%endfor%}],
              datasets: [{
                  label: "Daily Visitor Count",
                  data: [{%for x in trends%}{{x.date_count}},{%endfor%}],
                  borderwidth: 1
              }]
          },
          options: {
            scales: {
              y:{beginAtZero: true}
            },
            barThickness: 20
          }
      });
  </script>

  <a class="navbar-brand" href="/admin/tracking/blocklist">Blocklist</a>

  {% if tracking %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="background: #dae5f4">Date</th>
          <th scope="col">
            Request<br>
            & Referer
          </th>
          <th scope="col" style="background: #dae5f4" width="45%">UA</th>
          <th scope="col">
            Device<br>
            & OS
          </th>
          <th scope="col" style="background: #dae5f4">Browser/Agent</th>
          <th scope="col">Blocked</th>
        </tr>
      </thead>
      <tbody>
        {% for t in tracking %}
        <tr>
          <td style="background: #dae5f4" nowrap>{{ t.request_date }}</td>
          <td>
            {{ t.url }}<br>
            {{ t.referer }}
          </td>
          <td style="background: #dae5f4">{{ t.ua }}</td>
          <td>
            {{ t.device.family }}-{{ t.device.brand }}.{{ t.device.model }}
            {{ t.os.family }}-{{ t.os.major }}.{{ t.os.minor }}
          </td>
          <td style="background: #dae5f4">{{ t.browser.family }}</td>
          <td>{% if t.blocked=='0' %}&nbsp;{% else %}&#10060{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No songs available.<br />
  {% endif %}

{% endblock %}
